.headTag{
    color: blue;
    background-color: aqua;
    border-radius: 20px;
    width: 40%;
}
.title{
    background-color: blue;
    color: yellow;
    border-radius: 20px;
}
h1{
    text-align: center;
}