.custom-modal .ant-modal-content {
	background-color: black;
	color: white;
    border-radius: 20px;
}

.custom-modal .ant-modal-header {
	background-color: black;
	color: white;
}

.custom-modal .ant-modal-title {
	color: white;
}

.custom-modal .ant-modal-footer {
	background-color: black;
    border-top: none !important;
	border-top: 1px solid #444;
}
